body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #38bdf8;
}

section {
    padding: 20px;
    margin: 10px;
}

ul {
    list-style: square;
}

form {
    max-width: 300px;
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #38bdf8;
    color: #020617;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}

#mensaje {
    margin-top: 10px;
    font-weight: bold;
}
